.card {
    max-width: 276px;
    background: white;
    box-shadow: 0px -1.25455px 3.76364px rgba(0, 0, 0, 0.0941176);
    border-radius: 5px;
    overflow: hidden;

    /* This will collapse to just 10px if cards are placed after one another */
    margin-bottom: 10px;
    margin-top: 10px;
}

.card_image {
    width: 100%;
}

.card_text {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 32px;
    padding-top: 10px;

    text-align: left;
}

.card_image img {
    width: 100%;
}

.categories {
    font-size: 12px;
    line-height: 14.83px;
    color: #ff8615;
    font-weight: bold;
}

.title {
    color: black;
    font-size: 18px;
    line-height: 22.25px;
    font-weight: bold;
}

.experts {
    color: #333;
    font-size: 14px;
    line-height: 17.3px;
    font-weight: 600; /* semi-bold */
}

.experts_company {
    color: #ff8615
}